<tr>
  <td>
     <%= image_tag product.image.thumb.url , alt: product.name %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <p><%=quantity%></p>
  </td>
  <td>
    <p><%=humanized_money_with_symbol total_line_price / 100.0%></p>
  </td>
</tr>